main{
    /* background-color: khaki; */
    display: flex;
    justify-content: center;
}

input{
    width:250px;
    height: 27px;
    border-radius: 5px;
    border-color: khaki;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    padding: 5px;
    /* background-color: lawngreen; */
}

textarea{
    width:250px;
    /* height: 27px; */
    border-radius: 5px;
    border-color: khaki;
}

.form-control{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin-top: 15px;
}

.form-control textarea{
    border-color: khaki;
}

.btn{
    margin-top: 15px;
    padding: 5px;
    background-color: rgb(60, 60, 133);
    color: wheat;
    font-weight: 2;
    font-size: 1rem;
}
.btn:hover{
    padding: 7px;
    background-color: rgb(187, 173, 45);
}