* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.add__comment {
  background-color: rgb(60, 60, 133);
  color: white;
  margin-left: 4px;
}

.add__comment,
input {
  padding: 12px;
  /* display: inline; */
  border-style: inset;
  margin-top: 15px;
  width: fit-content;
}

input {
  width: 60%;
  display: block;
}

.add__comment__comment__page {
  display: flex;
  /* justify-content: space-between; */
  padding: 20px;
  /* width: fit-content; */
}

.add__comment__comment__page input {
  width: 70%;
  /* margin: 4px; */
  padding: 18px;
}
/* .add__comment__comment__page button {
  padding: 12px;
  background-color: rgb(60, 60, 133);
  color: white;
} */

.form {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
}

@media (max-width: 1198px) {
  .comment__input {
    width: 100%;
  }
}

@media (max-width: 508px) {
  #add_comment_btn {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (max-width: 436px) {
  .add_comment a {
    width: 42px;
  }
}
/* .add__comment{
    height: 42px;
} */
/* form {
  width: 100%;
  height: auto;
} */

.view_and_add {
  display: flex;
}

.buttons__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 auto;
  margin-top: 7px;
  width: 100%;
  overflow: hidden;
}

.buttons__container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

@media (min-width: 723px) {
  .form__admin {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .all-comments-admin,
  .edit-btn,
  .delete-btn {
    width: 40%;
  }
}

@media (max-width: 722px) {
  .form__admin {
    width: 100%;
  }
  .edit-btn,
  .delete-btn {
    width: 40%;
  }

  .all-comments-admin {
    width: 100%;
  }
}
@media (max-width: 613px) {
  .form__admin {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .edit-btn,
  .delete-btn {
    width: 100%;
  }
}

.buttons__container .btn_admin,
.edit-btn,
.all-comments-admin {
  background-color: rgb(60, 60, 133);
  color: white;
  padding: 12px;
  border-radius: 4px;
  border-style: inset;
  margin: 10px;
}

@media (max-width: 718px) {
  .all_comments_admin {
    width: 100%;
  }

  /* button {
    margin: 0px;
  } */
}

a {
  text-decoration: none;
  border-style: none;
}

.parent_buttons_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login__first {
  background: transparent;
  color: black;
}

.userName {
  align-self: flex-start;
  width: 200px;
  margin-bottom: 5px;
}

.title__header {
  margin-top: 5px;
}

.link {
  /* background: transparent; */
  color: black;
}

h3 {
  text-align: center;
  margin-top: 20px;
}

h4 {
  text-align: center;
  margin-top: 30px;
}

img {
  border-radius: 2px;
  width: 200px;
  height: 70vh;
}
.image__container {
  margin: 5px;
  background-color: rgb(236, 232, 232);
  padding: 15px;
}

article {
  text-align: center;
  width: 70%;
  word-break: break-all;
  /* display: block; */
  border-radius: 3px;
  border-style: groove;
  margin: 10px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  img {
    width: 470px;
  }
}

@media only screen and (min-width: 410px) and (max-width: 600px) {
  img {
    width: 200px;
    height: 235px;
  }
  .image__container {
    height: 250px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
  img {
    width: 180px;
    height: 210px;
  }

  .image__container {
    height: 240px;
  }
}

@media only screen and (min-width: 282px) and (max-width: 358px) {
  img {
    width: 160px;
    height: 200px;
  }

  .image__container {
    height: 230px;
  }
}
@media only screen and (max-width: 280px) {
  img {
    width: 130px;
    height: 170px;
  }

  .image__container {
    height: 200px;
  }
}
