@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.nav {
  height: 40px;
  background-color: rgb(60, 60, 133);
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.main__items {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.auth__items {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main__items li {
  list-style: none;

  margin-right: 50px;
  text-decoration: none;
}

li a {
  text-decoration: none;
  color: aliceblue;
  padding: 6px;
  height: inherit;
}

.auth__items li {
  list-style: none;
  margin-right: 20px;
}
.auth__items a.nill:hover {
  font-size: 15px;
}

.auth__items a.active {
  background-color: rgb(187, 173, 45);
  border-radius: 10px;
}

.nav__items a.active {
  background-color: rgb(187, 173, 45);
  border-radius: 10px;
}
.nav__items a.nill:hover {
  font-size: 15px;
}
/* 
.logout__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.logout__btn {
  background-color: rgb(60, 60, 133);
  color: lavender;
  border-color: rgb(60, 60, 133);
  font-size: inherit;
  justify-self: center;
  border-style: none;
}

.nav ul .hamburger div {
  width: 20px;
  height: 3px;
  margin-top: 5px;
  border-radius: 40px;
  background-color: white;
}

.hamburger {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  opacity: 0;
  justify-content: space-around;
  height: 60%;
}

@media (max-width: 320px) {
  .main__items {
    width: 60%;
  }
  .auth__items {
    width: 40%;
  }

  .sign-up a {
    display: inline-block;
    width: 68px;
  }

  .main__items li {
    margin-right: 10px;
  }
}
